body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 32px;
    color: #2980b9; /* Başlık için canlı mavi */
    margin-bottom: 10px;
    font-family: 'Georgia', serif;
}

h2 {
    font-size: 24px;
    color: #e67e22; /* Alt başlık için koyu turuncu */
    margin-bottom: 30px;
}

.accordion {
    background-color: #2980b9;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.accordion:hover {
    background-color: #3498db;
    transform: scale(1.02);
}

.accordion.active {
    background-color: #1abc9c;
}

.accordion:after {
    content: '\002B'; /* Plus sign */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2212"; /* Minus sign */
}

.panel {
    padding: 0 18px;
    background-color: #ecf0f1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out, background-color 0.3s ease;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    margin-bottom: 10px;
}

.panel p {
    padding: 15px 0;
    color: #2c3e50;
}

.panel p span {
    color: #e74c3c;
    font-weight: bold;
}

pre {
    background-color: #34495e;
    color: #ecf0f1;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    background-color: #34495e;
    color: #ecf0f1;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
}

